<div class="ps-sidebar" data-mh="product-listing">
  <aside class="ps-widget--sidebar ps-widget--category">
    <div class="ps-widget__header">
      <h3>Loại</h3>
    </div>
    <div class="ps-widget__content">
      <ul class="ps-list--checked">
        <li class="current">
          <a href="product-listing.html">Husky</a>
        </li>
        <li><a href="product-listing.html">Heo Lười</a></li>
        <li><a href="product-listing.html">Ciu</a></li>
      </ul>
    </div>
  </aside>
  <aside class="ps-widget--sidebar ps-widget--filter">
    <div class="ps-widget__header">
      <h3>Loại</h3>
    </div>
    <div class="ps-widget__content">
      <div
        class="ac-slider"
        data-default-min="300"
        data-default-max="2000"
        data-max="3450"
        data-step="50"
        data-unit="$"
      ></div>
      <p class="ac-slider__meta">
        Price:<span class="ac-slider__value ac-slider__min"></span>-<span
          class="ac-slider__value ac-slider__max"
        ></span>
      </p>
      <a class="ac-slider__filter ps-btn" href="#">Filter</a>
    </div>
  </aside>
</div>
