*{
  margin:0;
  padding:0
}
.dropdown-login{
  position: absolute;
  left: 90%;
}
h2{
  text-align: center;
  margin:5% 5%;
}
.custom-cards{
  width: 330px;
  box-shadow: 10px 10px 10px rgb(167, 165, 165);
}.custom-cards:hover,
.custom-cards:active{
  transform: translateY(-5%);
  cursor: pointer;
}
h4{
  text-align: center;
}
.shopping-cart{
  margin-left: 60%;
  border-radius: 30px;
}
.power-off{
  margin-left: 30%;
}
.footer-copyright{
  text-align: center;
  background-color: gray;
  transform: translateY(10%);
}
p{
  text-align: center;
}
.cart-custom{
  margin-top: 5%;
}